:root {
    --yellow: #efcc30;
    --black: #1e1e1f;
    --white: #faf8f6;
}

html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgb(223, 223, 223);
   
}

header {
    width: 100%;
    height: 20vw;
    display:flex;
    background-color: var(--black);
    align-items: center;
    padding-left: 10px;
    border-bottom: 3px solid var(--yellow);
}

#foto-autor {
    width: 15vw;
    border-radius: 10vw;
    border: calc(5px + .1vw) solid var(--yellow);
    background-color: var(--white);
    margin: 0px 4vw;
}

#datos-personales {
    width: 80%;
    height: 80%;
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    padding-left:10px;
    font-size: 1.3vw;
}

#datos-personales hr{
    height: 1%;
    background-color: var(--yellow);
    border-radius: 20px;
    border:none;
    margin-bottom: 20px;
}

#datos-personales h1,#datos-personales p{
    margin: 0px;
}

#contacto p {
    margin-bottom: 1%;
}

aside#sobre-mi {
    
    background-color: var(--black);
    margin-top: -3px;
    z-index: 2;
    border-top: 3px dotted var(--yellow);
    font-size: 1.5vw;
}

aside#sobre-mi h3, aside#sobre-mi p{
    width: 100%;
    color:var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside#sobre-mi p {
    margin-top:0px;
    margin-left:5px;
}

aside#sobre-mi h3 {
    margin-bottom: 9px;
    text-align: center;
    color: var(--black);
    background-color: rgb(223, 223, 223);
}

#primeras-palabras {

    margin-bottom:9px;

}

#pegao{
    margin-bottom:0px;
}
#pegao2{
    margin-top:0px
}

body h2 {
    padding-left: 1.5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--black);
}

main {
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns: 23.5vw 1fr;
    grid-gap: 1vw;
    font-size: 1.5vw;
}

#titulo-conocimientos {
    grid-column-start: 1;
    grid-column-end: 3;
}

#lenguajes {
    grid-column-start: 1;
    grid-column-end: 2;

}

#so {
    grid-column-start: 2;
    grid-column-end: 3;
}

#academicos {
    grid-column-start: 2;
    grid-column-end: 3;
}

#so, #lenguajes {
    text-align: center;
}

main h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    margin-left: -10px;
    text-align: left;
    text-align: left;
    color: var(--black);
    margin-left:0px;
    border-bottom: 2px solid black;
    text-align: center;
}

#lenguajes ul, #so ul{
    margin-left: 35%;
    text-align: justify;
}

.anhos, .anhos-explicada {
    background-color:#c9c9c9;
    color:black;
}

td.anhos {
    height: 100px;
    min-width: 150px;
    text-align: center;
}

#formacion-academica {
    border:none;
    margin-bottom: 10px;
    text-align: center;
}

table{
    border-collapse:collapse;
    border: 1px solid black;
    box-shadow: -2px 2px 5px black;
}

th img {
    float:right;
    width: 35%;
    margin-top: 20px;
}

.formacion-explicada {
    width: 20px;
}

table ul{
    list-style-type: none;
    padding:0px;
}

table li {
    margin-bottom: 5px;
}

#titulo-dentro-tabla {
    font-weight: 900;
    padding-bottom: 10px;
}

a{
    color: #6495ed
}

aside ul{
    list-style-type: none;
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main h3 img {
    width: 1.7vw;
}

#galego {
    list-style-image: url(/imagenes/galego.png);
}

#espanhol {
    list-style-image: url(/imagenes/español.png);
}
#ingles {
    list-style-image: url(/imagenes/england.png);
}

main a {
  color: blue;
}


.colegio {
  font-style: italic;
}
